
@font-face {
    font-family: Halo;
    src: url(./font/need-for-font/Need\ for\ Font.ttf);
  }

  *{
      font-family: Halo;
  }
body{
    background: #222222;
    color:white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data-plot{
    background-color: #DADADA;
}
.player-title{
    width:500px;
    height:200px;
    display:flex;
}
.icon{
    flex:1;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.user-icon{
    width:100%;
}
.user-information{
    font-family:italic;
    flex:3;
    height:100%;
    display:flex;
    flex-direction: column;
}

.username{
    font-size:4vw;
    flex:3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.exp-value{
    font-size:10px;
}
.experience{
    flex:1;
}
.player-information{
    display:flex;
    margin-top:10px;
    align-items: center;
}
#data-table{
    flex:4;
    display:flex;
    flex-wrap: wrap;
    margin-right:50px;
    margin-bottom: 20px;
}

#activity-log{
    flex:3;
    border: solid;
    overflow-y: scroll;
    width:100%;
    height:250px;
    /* scroll-padding: 50px 0 0 50px; */
    padding:0px;
    box-shadow: -5px 5px 5px rgb(151, 151, 151);
}

.item{
    display:flex;
}
.item div{
    width:25%;
    padding:5px 20px;
    border-bottom: solid;
    text-align: center;
}
.log{
    display:flex;
}
.log:nth-child(2*n-1){
    background-color: #303030;
}
.log:nth-child(2*n){
    background-color: #363636;
}
.log:hover{
    background-color: #555555;
}
.log div{
    width:25%;
    padding:10px 0px;
    border-bottom: 1px solid;
    text-align: center;
}
ul{
    list-style-type:none;
    padding:0px;
}
.data-item{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:180px;
    height:180px;
    margin:5px;
    box-shadow: inset 0 0 1px ;
}
.data-item:hover{
    background-color: #555555;

}
.table-border{
    justify-self: flex-start;
    padding:5px 20px; 
    border-radius: 20% ;
    margin:5px;
    font-size:15px;
}
.value{
    font-size:50px;
}

@media (max-width:1000px){
    .player-information{
        flex-direction: column;
    }
    #data-table{
        flex:1;
    }
    #activity-log{
        flex:1;
    }
}