
@font-face {
    font-family: Halo;
    src: url(./font/need-for-font/Need\ for\ Font.ttf);
  }

  *{
      font-family: Halo;
  }
body{
    background: #222222;
    color:white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-container{
    height:100px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
}
.main-container{
    height:1000px;
    width:100%;
    display:flex;
}
.left-container{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ranking-item-container{
    width:90%;
    height:90%;
}
.ranking-item{
    width:100%;
    height:50px;
    box-shadow: 0 0 1px ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ranking-item:hover{
    background-color: rgb(75, 75, 75);
}
.right-container{
    flex:3;
    box-shadow: 0 0 1px ;
}
.ranking-table{
    overflow-y: scroll;
    width:100%;
    height:100%;
    padding:0px;
    box-shadow: -5px 5px 5px rgb(151, 151, 151);
    overflow-y: scroll;
}
.rankingRow{
    display:flex;
    padding:10px;
}
.rankingRow:hover{
    background-color: rgb(94, 94, 94);
}
.rank-item{
    width:25%;
    padding:5px 20px;
    border-bottom: solid;
    text-align: center;
}
.rank1{
    color:gold
}
.rank2{
    color:silver;
}
.rank3{
    color:rgb(177, 143, 123)
}